.ant-table-row.selected > td,
.ant-table-row.selected:hover > td {
    background-color: #bae0ff !important;
}

.scroll-table .ant-table-body {
    overflow-y: auto !important;
}

.folio-items .ant-table-row > td {
    user-select: none;
}
