html,
body,
#app {
    height: 100%;
}

.ant-layout,
.ant-layout-content {
    height: 100%;
}

.ant-layout-content {
    min-height: 0 !important;
    display: flex;
}

.ant-table-row.selected > td,
.ant-table-row.selected:hover > td {
    background-color: #bae0ff !important;
}

.scroll-table .ant-table-body {
    overflow-y: auto !important;
}

.folio-items .ant-table-row > td {
    user-select: none;
}

.context-menu .ant-menu-item {
    height: 30px;
    line-height: 30px;
}